
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/CategoryScript.js"></script>

<br />
<div class="col-md-12">
    <h2>Category Maintenance</h2>
</div>

<br />
<div class="col-md-12">
    <table id="tblCategories" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description
                <th>
                <th>Created</th>
            </tr>
        </thead>
    </table>
</div>


