
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Hi, i am a development candidate, my name is Omar Quijano and i am a Full-stack .Net developer</p>
    <hr class="my-4">
</div>

